@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1625477799892') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-showpassword:before {
  content: "\ea3f";
}

.icon-users:before {
  content: "\e8b5";
}

.icon-user:before {
  content: "\e858";
}

.icon-tijikongjian:before {
  content: "\e89f";
}

.icon-morentouxiang:before {
  content: "\e8c9";
}

.icon-baobiao:before {
  content: "\e902";
}

.icon-danju-tianchong:before {
  content: "\e62a";
}

.icon-lock_fill:before {
  content: "\e709";
}

.icon-password:before {
  content: "\e625";
}

.icon-shangpin:before {
  content: "\e60b";
}

